
<div class="container">
    <div class="children" id="title">
        Electron Project Creator
    </div>

    <div class="children">
        <label for="name">Project Name:</label>
        <input type="text" id="name">
    </div> 

    <div class="children">
        <label for="local">Project Path:</label>
        <input disabled type="text" id="local">
        <span> <button id="btlocal" > ... </button> </span>
    </div>

    <div class="children" id="send">
        <button id="btCreate" > Create </button>
    </div>
</div>